<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nome:</strong>
    <%= cliente.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= cliente.cpf %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= cliente.idade %>
  </p>

</div>
