<%= form_with(model: vnda) do |form| %>
  <% if vnda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vnda.errors.count, "error") %> prohibited this vnda from being saved:</h2>

      <ul>
        <% vnda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
