<div id="<%= dom_id medicamento %>">
  <p>
    <strong>Nome:</strong>
    <%= medicamento.nome %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= medicamento.preco %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= medicamento.descricao %>
  </p>

</div>
