<div id="<%= dom_id medicamento %>">
  <p>
    <strong>Nome:</strong>
    <%= medicamento.nome %>
  </p>

  <p>
    <strong>Bula:</strong>
    <%= medicamento.bula %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= medicamento.preco %>
  </p>

</div>
