<div id="<%= dom_id item %>">
  <p>
    <strong>Qtd:</strong>
    <%= item.qtd %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= item.total %>
  </p>

  <p>
    <strong>Medicamento:</strong>
    <%= item.medicamento_id %>
  </p>

</div>
