<h1>Editing atendente</h1>

<%= render "form", atendente: @atendente %>

<br>

<div>
  <%= link_to "Show this atendente", @atendente %> |
  <%= link_to "Back to atendentes", atendentes_path %>
</div>
